function Quiz.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function Quiz.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Quiz.run 3
push argument 0
pop pointer 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
not
not
if-goto WHILE_END0
push constant 0
pop this 0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push constant 8
lt
not
if-goto WHILE_END1
call Output.println 0
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
call Tela.writeInit 0
pop temp 0
push constant 0
pop local 0
label WHILE_EXP2
push local 0
push constant 128
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP2
label WHILE_END2
call Texto.clearTextPosition 0
pop temp 0
call Tela.clearScreen 0
pop temp 0
call Tela.writeQ1 0
pop temp 0
push constant 0
pop local 0
label WHILE_EXP3
push local 0
push constant 65
eq
not
push local 0
push constant 66
eq
not
and
push local 0
push constant 67
eq
not
and
push local 0
push constant 68
eq
not
and
not
if-goto WHILE_END3
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP3
label WHILE_END3
push local 0
push constant 67
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Tela.clearScreen 0
pop temp 0
push constant 16
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
push this 0
push constant 20
add
pop this 0
goto IF_END0
label IF_FALSE0
call Tela.clearScreen 0
pop temp 0
push constant 15
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
label IF_END0
push constant 10
call Tempo.wait 1
pop temp 0
call Texto.clearTextPosition 0
pop temp 0
call Tela.clearScreen 0
pop temp 0
call Tela.writeQ2 0
pop temp 0
push constant 0
pop local 0
label WHILE_EXP4
push local 0
push constant 65
eq
not
push local 0
push constant 66
eq
not
and
push local 0
push constant 67
eq
not
and
push local 0
push constant 68
eq
not
and
not
if-goto WHILE_END4
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP4
label WHILE_END4
push local 0
push constant 66
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Tela.clearScreen 0
pop temp 0
push constant 16
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
push this 0
push constant 20
add
pop this 0
goto IF_END1
label IF_FALSE1
call Tela.clearScreen 0
pop temp 0
push constant 15
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
label IF_END1
push constant 10
call Tempo.wait 1
pop temp 0
call Texto.clearTextPosition 0
pop temp 0
call Tela.clearScreen 0
pop temp 0
call Tela.writeQ3 0
pop temp 0
push constant 0
pop local 0
label WHILE_EXP5
push local 0
push constant 65
eq
not
push local 0
push constant 66
eq
not
and
push local 0
push constant 67
eq
not
and
push local 0
push constant 68
eq
not
and
not
if-goto WHILE_END5
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP5
label WHILE_END5
push local 0
push constant 68
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
call Tela.clearScreen 0
pop temp 0
push constant 16
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
push this 0
push constant 20
add
pop this 0
goto IF_END2
label IF_FALSE2
call Tela.clearScreen 0
pop temp 0
push constant 15
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
label IF_END2
push constant 10
call Tempo.wait 1
pop temp 0
call Texto.clearTextPosition 0
pop temp 0
call Tela.clearScreen 0
pop temp 0
call Tela.writeQ4 0
pop temp 0
push constant 0
pop local 0
label WHILE_EXP6
push local 0
push constant 65
eq
not
push local 0
push constant 66
eq
not
and
push local 0
push constant 67
eq
not
and
push local 0
push constant 68
eq
not
and
not
if-goto WHILE_END6
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP6
label WHILE_END6
push local 0
push constant 66
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
call Tela.clearScreen 0
pop temp 0
push constant 16
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
push this 0
push constant 20
add
pop this 0
goto IF_END3
label IF_FALSE3
call Tela.clearScreen 0
pop temp 0
push constant 15
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
label IF_END3
push constant 10
call Tempo.wait 1
pop temp 0
call Texto.clearTextPosition 0
pop temp 0
call Tela.clearScreen 0
pop temp 0
call Tela.writeQ5 0
pop temp 0
push constant 0
pop local 0
label WHILE_EXP7
push local 0
push constant 65
eq
not
push local 0
push constant 66
eq
not
and
push local 0
push constant 67
eq
not
and
push local 0
push constant 68
eq
not
and
not
if-goto WHILE_END7
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP7
label WHILE_END7
push local 0
push constant 68
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
call Tela.clearScreen 0
pop temp 0
push constant 16
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
push this 0
push constant 20
add
pop this 0
goto IF_END4
label IF_FALSE4
call Tela.clearScreen 0
pop temp 0
push constant 15
call String.new 1
push constant 82
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
call Texto.centerText 1
pop temp 0
label IF_END4
push constant 10
call Tempo.wait 1
pop temp 0
call Texto.clearTextPosition 0
pop temp 0
call Tela.clearScreen 0
pop temp 0
push this 0
push constant 70
gt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 13
call String.new 1
push constant 86
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Texto.centerText 1
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
push constant 8
call String.new 1
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 48
call String.new 1
push constant 80
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 33
call String.appendChar 2
call Texto.centerText 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 29
call String.new 1
push constant 65
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 122
call String.appendChar 2
call Texto.centerText 1
pop temp 0
label IF_FALSE5
push this 0
push constant 70
lt
push this 0
and
push constant 30
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 13
call String.new 1
push constant 86
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Texto.centerText 1
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
push constant 8
call String.new 1
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 50
call String.new 1
push constant 83
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 65
call String.appendChar 2
call Texto.centerText 1
pop temp 0
call Output.println 0
pop temp 0
push constant 21
call String.new 1
push constant 118
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 104
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 46
call String.appendChar 2
call Texto.centerText 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 29
call String.new 1
push constant 65
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 122
call String.appendChar 2
call Texto.centerText 1
pop temp 0
label IF_FALSE6
push this 0
push constant 30
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 13
call String.new 1
push constant 86
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Texto.centerText 1
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
push constant 8
call String.new 1
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 33
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 55
call String.new 1
push constant 77
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 106
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 46
call String.appendChar 2
call Texto.centerText 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 29
call String.new 1
push constant 65
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 81
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 113
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 122
call String.appendChar 2
call Texto.centerText 1
pop temp 0
label IF_FALSE7
push constant 0
pop local 0
label WHILE_EXP8
push local 0
push constant 81
eq
not
not
if-goto WHILE_END8
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP8
label WHILE_END8
push local 0
push constant 81
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
not
pop local 2
label IF_FALSE8
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
